.title {
    color: red;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: grey;
    

    
}

.image {
    
    height: 100px;
    width: 100px;
    margin: auto;
}

body {
    background-color: black;
}

.bullets {
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: red;
 text-align: center;
 text-decoration: none;
}