.titlebox {
    width: 500px;
    background-color: grey;
    margin: auto;
    margin-top: 100px;
}

.title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: dashed;    
}

.homebody {
    background-color: darkgrey;
}

.bullets {
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: red;
 text-align: center;
 text-decoration: none;
}

img {
    display: block;
    margin: auto;
}

.butch {
    background-color: black; 
    color: white;
    margin: 0;
    text-align: center;
}

.butch img {
    display: block;
    margin: auto;
}

.butch h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
